.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: rgba(0, 0, 0, .5);
}

.input-search::placeholder {
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.number-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.number-input button {
    background-color: white;
    color: #007bff;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    border: 1px solid #4e73df;
    justify-content: center;
    align-items: center;
}

.number-input button:first-child {
    border-right: none;
}

.number-input button:last-child {
    border-left: none;
}

.number-input input {
    width: 50px;
    text-align: center;
    border: none;
    height: 40px;
    font-size: 16px;
    border: 1px solid #4e73df;
    outline: none;
}

.bg-light-blue {
    background: #90a4e0;
}

.text-dark {
    color: #000 !important;
}